#three_test {
    background-color:#fff;
    /*background: radial-gradient(ellipse at center,  rgba(43,45,48,1) 0%,rgba(0,0,0,1) 100%);*/
    width: 100%;
    height: 300px;
}
#three_test_modal {
    background-color:#fff;
    /*background: radial-gradient(ellipse at center,  rgba(43,45,48,1) 0%,rgba(0,0,0,1) 100%);*/
    width: 90%;
    height: 700px;
}